[Unit]
Description=Firedrone_Flightcode
After=network.target
StartLimitIntervalSec=0
[Service]
Type=exec

User=firedrone
ExecStart=bash /home/firedrone/FlightCode/exec-flightcode.sh

WorkingDirectory=/home/firedrone/FlightCode/

[Install]
WantedBy=multi-user.target
